NEXT_PUBLIC_CHAIN=base
NEXT_PUBLIC_RPC_URL=https://mainnet.base.org

# Vault 
NEXT_PUBLIC_VAULT_ADDRESS=0x8A83E4349f4bd053cef3083F4219628957f54725

# Testnet 
NEXT_PUBLIC_VAULT_ADDRESS_SEPOLIA=0x114c4133a937C3e3A871Ce53B5Ff9975A96AA295
